#BeautifulSoup

This project includes the weather data scraping. I have used python to do this project and the library I have use is the `BeautifulSoup`.

In [ ]:
import pandas as pa
from bs4 import BeautifulSoup
import requests as re

url = "https://www.wrh.noaa.gov/zoa/getobext.php?sid=KOKC"
request = re.get(url)

soup = BeautifulSoup(request.text, "lxml")
table = soup.find_all("div", class_="boxit")

![Graph](http://www.weather.gov/images/oun/graphicast/image5.png?c0fe5673eac77692b6667c12c5062333)

In [ ]:
dfs = pa.read_html("https://www.weather.gov/oun/")
dfs[4]

,0,1,2,3,4,5,6,7,8,9
0,Location,Time(CST),Weather,Vsby.(SM),Temp.(ºF),Dewpt.(ºF),Hum.(%),Wind(mph),Wind Chill / Heat Index(ºF),Pres.(in)
1,"Oklahoma City, OK",17:52,Overcast,10,69,65,86,SSE 12,-,30.17
2,"Stillwater, OK",17:53,Mostly Cloudy,10,71,66,84,SE 13,-,30.17
3,"Lawton, OK",17:53,Mostly Cloudy,10,74,63,68,SE 10,-,30.14
4,"Wichita Falls, TX",17:52,Mostly Cloudy,10,73,63,70,SSE 14,-,30.14
5,"Ponca City, OK",17:53,Clear,10,68,65,89,SE 13,-,30.16
6,"Enid, OK",17:55,Mostly Cloudy,10,71,63,77,SE 13,-,30.11
7,"Alva, OK",18:15,Mostly Cloudy,10,69,62,77,SSE 13,-,30.11
8,"Woodward, OK",17:55,Clear,10,69,59,68,SSE 14,-,30.13
9,"Gage, OK",17:53,Clear,10,71,60,68,S 17,-,30.09
10,"Watonga, OK",18:15,Clear,10,70,62,77,SSE 10,-,30.17
11,"Clinton, OK",17:53,Mostly Cloudy,10,69,62,78,SSE 14,-,30.15
12,"Weatherford, OK",18:15,Clear,10,70,62,77,SSE 9,-,30.15
13,"Hobart, OK",06:53,Mist,4,67,66,96,S 16,-,30.21
14,"Altus, OK",18:15,Clear,10,73,62,68,SSE 13,-,30.15
15,"Frederick, OK",17:53,Clear,10,72,62,71,SE 12,-,30.11
16,"Ardmore, OK",17:50,Overcast,10,69,68,94,ESE 7,-,30.19
17,"Ada, OK",17:50,Overcast,10,68,68,100,SE 7,-,30.22
18,"Shawnee, OK",17:55,Overcast,10,67,65,93,SSE 14,-,30.20

In [ ]:
dfs[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       19 non-null     object
 1   1       19 non-null     object
 2   2       19 non-null     object
 3   3       19 non-null     object
 4   4       19 non-null     object
 5   5       19 non-null     object
 6   6       19 non-null     object
 7   7       19 non-null     object
 8   8       19 non-null     object
 9   9       19 non-null     object
dtypes: object(10)
memory usage: 1.6+ KB

In [ ]:
df =dfs[4]
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
df.columns= ['Location',	'Time(CST)',	'Weather',	'Vsby.(SM)',	'Temp.(ºF)',	'Dewpt.(ºF)',	'Hum.(%)',	'Wind(mph)',	'Wind Chill / Heat Index(ºF)',	'Pres.(in)']

In [ ]:
df.columns

Index(['Location', 'Time(CST)', 'Weather', 'Vsby.(SM)', 'Temp.(ºF)',
       'Dewpt.(ºF)', 'Hum.(%)', 'Wind(mph)', 'Wind Chill / Heat Index(ºF)',
       'Pres.(in)'],
      dtype='object')

In [ ]:
#df.iloc[row_start:row_end , col_start, col_end]
df=df.iloc[1:,:]
df

,Location,Time(CST),Weather,Vsby.(SM),Temp.(ºF),Dewpt.(ºF),Hum.(%),Wind(mph),Wind Chill / Heat Index(ºF),Pres.(in)
1,"Oklahoma City, OK",17:52,Overcast,10,69,65,86,SSE 12,-,30.17
2,"Stillwater, OK",17:53,Mostly Cloudy,10,71,66,84,SE 13,-,30.17
3,"Lawton, OK",17:53,Mostly Cloudy,10,74,63,68,SE 10,-,30.14
4,"Wichita Falls, TX",17:52,Mostly Cloudy,10,73,63,70,SSE 14,-,30.14
5,"Ponca City, OK",17:53,Clear,10,68,65,89,SE 13,-,30.16
6,"Enid, OK",17:55,Mostly Cloudy,10,71,63,77,SE 13,-,30.11
7,"Alva, OK",18:15,Mostly Cloudy,10,69,62,77,SSE 13,-,30.11
8,"Woodward, OK",17:55,Clear,10,69,59,68,SSE 14,-,30.13
9,"Gage, OK",17:53,Clear,10,71,60,68,S 17,-,30.09
10,"Watonga, OK",18:15,Clear,10,70,62,77,SSE 10,-,30.17
11,"Clinton, OK",17:53,Mostly Cloudy,10,69,62,78,SSE 14,-,30.15
12,"Weatherford, OK",18:15,Clear,10,70,62,77,SSE 9,-,30.15
13,"Hobart, OK",06:53,Mist,4,67,66,96,S 16,-,30.21
14,"Altus, OK",18:15,Clear,10,73,62,68,SSE 13,-,30.15
15,"Frederick, OK",17:53,Clear,10,72,62,71,SE 12,-,30.11
16,"Ardmore, OK",17:50,Overcast,10,69,68,94,ESE 7,-,30.19
17,"Ada, OK",17:50,Overcast,10,68,68,100,SE 7,-,30.22
18,"Shawnee, OK",17:55,Overcast,10,67,65,93,SSE 14,-,30.20

In [ ]:
df.dtypes

Location                       object
Time(CST)                      object
Weather                        object
Vsby.(SM)                      object
Temp.(ºF)                      object
Dewpt.(ºF)                     object
Hum.(%)                        object
Wind(mph)                      object
Wind Chill / Heat Index(ºF)    object
Pres.(in)                      object
dtype: object